<div class="index-title">
  <h1>Cocktails Collection</h1>
</div>
<div class="container">
  <div class="banner-searchbar sticky-top">
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <input type="search" class="form-control" id="searchbar" placeholder="Search Cocktails...">
      </div>
      <button type="submit" class="btn btn-outline-primary mb-2"><i class="fas fa-search"></i></button>
    </form>
  </div>
  <div class="cocktails-cards-container">

    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cocktail-card">
          <div class="cocktail-picture"><%= cl_image_tag(cocktail.photo.key, height: 300, width: 400, crop: :fill) %></div>
          <div class="name-block">
            <h5><%= cocktail.name %></h5>
            <div class="stars">
              <% grade = 0
                cocktail.reviews.each do |review|
                  grade += review.rating
                end
                grade = grade.fdiv(cocktail.reviews.length).round() %>
              <% grade.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
